* {
  padding: 0;
  margin: 0;
}

.app {
  text-align: center;
  margin-top: 100px;
}

.wrapper{
  width: 600px;
  height: 500px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 30px;
}

.block1{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  border-radius: 30px;
  background: whitesmoke;
  color: black;
  transition: 2s;
}

.block2{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  border-radius: 30px;
  background: blue;
  color: black;
  transition: 2s;
}

.block3{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 30px;
  margin: 30px;
  border-radius: 30px;
  background: red;
  color: black;
  transition: 2s;
}

.block1-click{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  border-radius: 30px;
  background: yellow;
  color: black;
  transition: 2s;
}
.block2-click{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  border-radius: 30px;
  background: blue;
  color: red;
  transition: 2s;
}
.block3-click{
  width: 420px;
  height: 60px;
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  font-size: 30px;
  margin: 30px;
  border-radius: 30px;
  background: blue;
  color: red;
  transition: 2s;
}